body
{
background-color: #ebfaf2;
 width: 800px;
}

img.person_image
{
 border-radius: 30px;
 width: 80px;
 height: 110px;
}

.username 
{
font-family: Bookman;
font-size: 32px;
}
 
a:link
{
 font-family: Arial;
  font-size: 16px;
  background-color:  #464159;
 color: white;
  text-transform: capitalize;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
 border-radius: 25px;
}

a:hover, a:active 
{
  background-color: #6c7b95;
}

a:visited 
{
  color: #d7f4e5;
   display: inline-block;
}

.title
{
  background-image: url (https://raw.githubusercontent.com/MaryAshby/ClassyCats/master/cats4.png);
      background-repeat: no-repeat;
 font-family: Bookman;
 font-size: 32px;
 padding: 14px 25px;
 }

label
{
font-family: Arial;
font-size: 18px;
 boarder-radius: 4px;
  box-sizing: border-box;
 background-color: #FEECB7;
}

input[type=text], input[type=file], select 
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #c7f0db;
  border-radius: 4px;
  box-sizing: border-box;
 background-color: white;
}

input[type=submit] 
{
  width: 100%;
  background-color: #FEECB7;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover 
{
  background-color: #4CAF50;
}

h1
{
 font-family: Bookman;
 font-size: 36px;
 font-style: bold;
}

.day-box PREP
{
 background-color: #c7f0db;
 font-family: Arial;
 font-size: 14px;
 padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

.day-box CURRENT
{
 background-color: #8bbabb;
 font-family: Arial;
 font-size: 14px;
}

.day-box COMPLETED
{
 background-color: #6c7b95;
 font-family: Arial;
 font-size: 14px;
}
 
.day
{
  color: #ff0000;
  font-size: xx-large;
}


table, th, tr
{ 
 font-family: Bookman;
 font-size: 18px;
 border: 2px solid black;
 text-align: center;
  border-radius: 4px;
 width: 100%;
}
