body 
{
background-image: url(https://raw.githubusercontent.com/MaryAshby/ClassyCats/master/cat%20in%20window.jpg);
 background-position: center;
 background-repeat: no-repeat
 background-size: 600px 800px;
background-color: #b26f42;
 width: 600px;
}

label 
{
font-family: Courier New;
font-size: 14px;
}

.username 
{
font-family: Arial;
font-size: 24px;
text-shadow: 2px 2px #c7f0db;
}
 
#nav
{
 font-family: Arial;
  font-size: 16px;
}

div {
  width: 300px;
  border: 15px #464159;
  padding: 50px;
  margin: 20px;
}

h1
{
 font-family: Impact;
 font-size: 36px;
 text-shadow: 2px 2px #c7f0db;
}

.day-box PREP
{
 background-color: #c7f0db;
 font-family: Arial;
 font-size: 14px;
}

.day-box CURRENT
{
 background-color: #8bbabb;
 font-family: Arial;
 font-size: 14px;
}

.day-box COMPLETED
{
 background-color: #6c7b95;
 font-family: Arial;
 font-size: 14px;
}
 
